<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">heading</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At adipisci modi excepturi recusandae
            doloribus
            possimus saepe libero mollitia deserunt unde.
        </p>
    </header>
    <div style="width: 30%; padding: 4rem;">
        <div class="card card--primary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, voluptas.
            </div>
        </div>
    </div>
</section>

<!-- <section class="block block--dark block--skewed-left"> -->
<section class="block block--dark block--skewed-right">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">heading</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At adipisci modi excepturi recusandae
                doloribus
                possimus saepe libero mollitia deserunt unde.
            </p>
        </header>
    </div>
</section>