<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#computer"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#easy"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#growth"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#logo"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#quotes"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#search"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#settings"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#tick"></use>
    </svg>
</span>

<span class="icon-container">
    <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
</span>